# The Dataset From This [Address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv)

In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv"

df = pd.read_csv(url)
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

## "Mjob" ve "Fjob" değişkenlerinin baş harfleri büyütülür?

In [3]:
capitalize = lambda x: x.capitalize()

df["Mjob"] = df["Mjob"].apply(capitalize)
df["Fjob"] = df["Fjob"].apply(capitalize)
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,At_home,Other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,At_home,Other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,Health,Services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,Other,Other,...,4,3,2,1,2,5,4,6,10,10

## 17 yaşından büyükler alkol kullanabiliyor, gösteriniz.

In [4]:
def majority(x):
    if x > 17:
        return True
    else:
        return False
    
df["legal_drinker"] = df["age"].apply(majority)
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,legal_drinker
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,...,3,4,1,1,3,6,5,6,6,True
1,GP,F,17,U,GT3,T,1,1,At_home,Other,...,3,3,1,1,3,4,5,5,6,False
2,GP,F,15,U,LE3,T,1,1,At_home,Other,...,3,2,2,3,3,10,7,8,10,False
3,GP,F,15,U,GT3,T,4,2,Health,Services,...,2,2,1,1,5,2,15,14,15,False
4,GP,F,16,U,GT3,T,3,3,Other,Other,...,3,2,1,2,5,4,6,10,10,False

* Lambda fonksiyonu ile de yapılabilir.

In [5]:
majority_lambda = lambda x: x > 17 if True else False

df["legal_drinker_lambda"] = df["age"].apply(majority_lambda)
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,goout,Dalc,Walc,health,absences,G1,G2,G3,legal_drinker,legal_drinker_lambda
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,...,4,1,1,3,6,5,6,6,True,True
1,GP,F,17,U,GT3,T,1,1,At_home,Other,...,3,1,1,3,4,5,5,6,False,False
2,GP,F,15,U,LE3,T,1,1,At_home,Other,...,2,2,3,3,10,7,8,10,False,False
3,GP,F,15,U,GT3,T,4,2,Health,Services,...,2,1,1,5,2,15,14,15,False,False
4,GP,F,16,U,GT3,T,3,3,Other,Other,...,2,1,2,5,4,6,10,10,False,False

## Veri setindeki her sayı 10 ile nasıl çarpılır?

In [6]:
def times10(x):
    if type(x) is int:
        return x*10
    return x

columns = df.columns

for col in columns:
    df[col] = df[col].apply(times10)
    
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,goout,Dalc,Walc,health,absences,G1,G2,G3,legal_drinker,legal_drinker_lambda
0,GP,F,180,U,GT3,A,40,40,At_home,Teacher,...,40,10,10,30,60,50,60,60,True,True
1,GP,F,170,U,GT3,T,10,10,At_home,Other,...,30,10,10,30,40,50,50,60,False,False
2,GP,F,150,U,LE3,T,10,10,At_home,Other,...,20,20,30,30,100,70,80,100,False,False
3,GP,F,150,U,GT3,T,40,20,Health,Services,...,20,10,10,50,20,150,140,150,False,False
4,GP,F,160,U,GT3,T,30,30,Other,Other,...,20,10,20,50,40,60,100,100,False,False

In [7]:
df = df.applymap(times10)
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,goout,Dalc,Walc,health,absences,G1,G2,G3,legal_drinker,legal_drinker_lambda
0,GP,F,1800,U,GT3,A,400,400,At_home,Teacher,...,400,100,100,300,600,500,600,600,True,True
1,GP,F,1700,U,GT3,T,100,100,At_home,Other,...,300,100,100,300,400,500,500,600,False,False
2,GP,F,1500,U,LE3,T,100,100,At_home,Other,...,200,200,300,300,1000,700,800,1000,False,False
3,GP,F,1500,U,GT3,T,400,200,Health,Services,...,200,100,100,500,200,1500,1400,1500,False,False
4,GP,F,1600,U,GT3,T,300,300,Other,Other,...,200,100,200,500,400,600,1000,1000,False,False